$primary: #e6f9ff;
$secondary: #56becd;
$tertiary: #ffb158; // created
$lightTertiary: #f8c890;
$quaternary: #1a727b;
$dark: #000000;
$light: #ffffff;
$danger: #dc3545;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "lightTertiary": $lightTertiary,
  "quaternary": $quaternary,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
);
