$primary: #e6f9ff;
$secondary: #56becd;
$tertiary: #ffb158; // created
$dark: #000000;
$light: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "dark": $dark,
  "light": $light,
);
