@import "./colors";
@import "./calendar.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

$border-normal: 4px solid $dark;
$border-thin: 3px solid $dark;
$b-radius-normal: 7px;

.border-normal {
  border: $border-normal;
}
.border-thin {
  border: $border-thin;
}

.b-radius-normal {
  border-radius: $b-radius-normal;
}

* {
  font-family: "Dosis", sans-serif;
}

.card-image-cstm {
  height: 100px;
}

.homePageButton {
  width: 300px;
  height: 100px;
  object-fit: contain;
}

.homePageButton:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.03);
}

.neoBorder {
  box-shadow: 2px 2px 0px $dark;
  border-radius: $b-radius-normal;
  border: $border-thin;
}

.signBtn {
  padding: 0.25rem 1.4rem;
  text-decoration: none;
  color: $dark;
}

.eventBtn {
  background-color: $secondary;
  color: $dark;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  border-radius: $b-radius-normal;
  width: fit-content;
}

.eventBtn:hover {
  background-color: #88c8dc;
}

.eventBtnO {
  background-color: $tertiary;
  color: $dark;
  font-weight: 600;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  border-radius: $b-radius-normal;
  width: fit-content;
}
.eventBtnO:hover {
  background-color: #ff9955;
}
.eventBtnLB {
  background-color: $primary;
  color: $dark;
  font-weight: 600;
  text-decoration: none;
  padding: 0.3rem 0.7rem;
  border-radius: $b-radius-normal;
  width: fit-content;
}

.eventBtnLB:hover {
  background-color: #88c8dc;
}

.signForm {
  width: 400px;
  height: 350px;
  padding: 40px;
  background-color: $primary;
  box-sizing: border-box;
}

/* */

.icon {
  width: 28px;
  height: 28px;
  margin-right: 9px;
}

.bubble-container {
  background-image: url("/images/homepage pic.svg");
  width: 100%;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: -1;
  border-bottom: $border-normal;
}

.bubble-container2 {
  width: 100%;
  background-image: url("/images/signInPage.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.bubble {
  background-image: url(/images/icons/bubble.png);
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 105%;
  z-index: 2;
}

.bubble.a {
  left: 20%;
  animation: bubble 6s ease-in 2.6s infinite;
}

.bubble.b {
  left: 15%;
  animation: bubble 6s ease-in 1.4s infinite;
}

.bubble.c {
  left: 23%;
  animation: bubble 6s ease-in 0.6s infinite;
}

.bubble.d {
  left: 35%;
  animation: bubble 6s ease-in 3.6s infinite;
}

.bubble.e {
  left: 0%;
  animation: bubble 7.6s ease-in 1.2s infinite;
}

.bubble.f {
  left: 52%;
  animation: bubble 6.5s ease-in 2s infinite;
}

.bubble.g {
  left: 60%;
  animation: bubble 7.6s ease-in 2s infinite;
}

.bubble.h {
  left: 65%;
  animation: bubble 6.5s ease-in 1.6s infinite;
}

.bubble.i {
  left: 80%;
  animation: bubble 6s ease-in 4s infinite;
}

.bubble.j {
  left: 85%;
  animation: bubble 6s ease-out 2s infinite;
}

.bubble.k {
  left: 70%;
  animation: bubble 6.5s ease-out 2.1s infinite;
}

@keyframes bubble {
  0% {
    opacity: 0;
    scale: (0.4);
  }
  20%,
  93% {
    opacity: 1;
  }
  100% {
    transform: translate(90px, -700px);
    display: none;
    scale: (1.3);
  }
}

.fish-container {
  background-image: url("/images/events page/events pic.svg");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  z-index: -2;
  border-bottom: solid 5px $dark;
}

.fish {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 110px;
  height: 100px;
  margin-left: -30%;
  background-size: contain;
  z-index: -1;
}

.fish.a {
  background-image: url("/images/events page/leftBlue1.svg");
  top: 10%;
  animation: fishLeft 30s infinite;
  animation-delay: 2s;
}
.fish.b {
  background-image: url("/images/events page/leftGreen1.svg");
  top: 15%;
  animation: fishLeft 50s infinite;
  animation-delay: 15s;
}
.fish.c {
  background-image: url("/images/events page/leftOrange1.svg");
  top: 10%;
  animation: fishLeft 28s infinite;
  animation-delay: 30s;
}

.fish.d {
  background-image: url("/images/events page/leftPink1.svg");
  top: 32%;
  animation: fishLeft 40s infinite;
  animation-delay: 15s;
}
.fish.e {
  background-image: url("/images/events page/leftGreen2.svg");
  top: 70%;
  animation: fishLeft 50s infinite;
}
.fish.f {
  background-image: url("/images/events page/leftOrange2.svg");
  top: 20%;
  animation: fishLeft 35s infinite;
  animation-delay: 20s;
}

.fish.g {
  background-image: url("/images/events page/leftPink2.svg");
  top: 35%;
  animation: fishLeft 37s infinite;
  animation-delay: 30s;
}

.fish.h {
  background-image: url("/images/events page/rightPurple1.svg");
  top: 53%;
  animation: fishRight 39s infinite;
  animation-delay: 30s;
}
.fish.i {
  background-image: url("/images/events page/rightYellow1.svg");
  top: 60%;
  animation: fishRight 30s infinite;
  animation-delay: 40s;
}

.fish.j {
  background-image: url("/images/events page/rightPink1.svg");
  top: 26%;
  animation: fishRight 39s infinite;
  animation-delay: 10s;
}
.fish.k {
  background-image: url("/images/events page/rightBlue1.svg");
  top: 55%;
  animation: fishRight 35s infinite;
}
.fish.l {
  background-image: url("/images/events page/rightPink2.svg");
  top: 50%;
  animation: fishRight 60s infinite;
}
.fish.m {
  background-image: url("/images/events page/rightPurple2.svg");
  top: 75%;
  animation: fishRight 65s infinite;
  animation-delay: 50s;
}
.fish.n {
  background-image: url("/images/events page/rightYellow2.svg");
  top: 78%;
  animation: fishRight 42s infinite;
  animation-delay: 3s;
}

@keyframes fishLeft {
  0% {
    margin-left: -30%;
  }

  100% {
    margin-left: 130%;
  }
}

@keyframes fishRight {
  0% {
    margin-left: 130%;
  }

  100% {
    margin-left: -30%;
  }
}

.seal {
  background-image: url("/images/seal.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  animation: seal 8s ease-in-out infinite;
}

@keyframes seal {
  0% {
    transform: translate(0px, 5px);
  }

  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}
.eventEffect {
  box-shadow: 3px 3px 0px $dark;
  border: $border-thin;
  transition: 0.3s;
}

.eventEffect:hover {
  transform: scale(1.01);
  border: 0;
  box-shadow: 0px 0px 0px;
  border: solid 3px $secondary;
}

.shake {
  animation: shake 10s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(5deg);
  }
  2% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-5deg);
  }
  4% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  6% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.randContainer {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 10%;
  left: 0;
}
